/include/ "skeleton.dtsi"
/{
	compatible = "shmac,shmac";
	model = "SHMAC RAV";

	interrupt-parent = <&intc>;
	
    	chosen {
		bootargs = "earlyprintk console=ttyS0";
	};
	
 	soc {

		compatible = "simple-bus";

		intc:interrupt-controller@fffe2000 {
			compatible = "shmac,shmac-intc";
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		uart@ffff0000 {
		      compatible = "shmac-uart";
		      status = "disabled";
		};

		timer@fffe1000 {
			compatible = "simple-bus";
			reg = <0xfffe1000 0x20>;
			interrupts = <2>;
		};
       		
	};
};
